<h1>Certificate Requests</h1>

<%= link_to 'New Certificate request', new_certificate_request_path %>

<table class="table">
  <thead>
    <tr>
      <th>Fingerprint</th>
      <th>Subject</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @certificate_requests.each do |certificate_request| %>
      <tr>
        <td><%= certificate_request.fingerprint %></td>
        <td><%= certificate_request.subject %></td>
        <td><%= link_to 'Show', certificate_request %></td>
        <td><%= link_to 'Edit', edit_certificate_request_path(certificate_request) %></td>
        <td><%= link_to 'Destroy', certificate_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
