<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @certificate_request.subject %>
</p>

<p>
  <strong>Signature Algorithm:</strong>
  <%= @certificate_request.request.signature_algorithm %>
</p>

<p>
  <strong>Public Key:</strong>
  <%= @certificate_request.fingerprint %>
</p>

<p>
  <strong>Fingerprint:</strong>
  <%= @certificate_request.fingerprint %>
</p>

<p>
  <strong>Encoded request:</strong>
  <pre><%= @certificate_request.encoded_request %></pre>
</p>

<p>
  <strong>Private key:</strong>
  <%= @certificate_request.private_key_id %>
</p>

<%= link_to 'Edit', edit_certificate_request_path(@certificate_request) %> |
<%= link_to 'Back', certificate_requests_path %>
