<h1>Listing private_keys</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Key size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @private_keys.each do |private_key| %>
      <tr>
        <td><%= private_key.id %></td>
        <td><%= private_key.key_size %></td>
        <td><%= link_to 'Show', private_key %></td>
        <td><%= link_to 'Edit', edit_private_key_path(private_key) %></td>
        <td><%= link_to 'Destroy', private_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Private key', new_private_key_path %>
