<!DOCTYPE html>
<html>
<head>
  <title>Certman</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div>
    <%= link_to "Keys", private_keys_path %> | 
    <%= link_to "Certificates", certificates_path %> | 
    <%= link_to "Requests", certificate_requests_path %>
  </div>

  <div>
    <%= yield %>
  </div>
</div>

</body>
</html>
